
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

nav,
.navbar {
  background: #000;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h2,
.navbar h3 {
  margin: 0;
}

h1 {
  margin-top: 20px;
  text-align: center;
  color: #333;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 30px;
}

.product-card {
  border: 1px solid #ddd;
  background: white;
  width: 200px;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: 0.2s ease;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.product-card img {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

.product-card button {
  background: black;
  color: white;
  padding: 8px 12px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.product-card button:hover {
  background: #333;
}
